body{
    margin: 0px;
    font-family: "Open Sans";
    background-color: #d5d5d5;
}
.container-fluid {
    width: 1100px;
}

h1{
    padding-top: 50px;
    margin-left: 7%;
    font-family: "Open Sans";
}

h2{
    margin-left: 7%;
    padding-top: 10px;
    font-family: "Open Sans";
    text-align: left;
    color: #8f8f8f;
}

h3{
    font-weight: 300;
    text-align: left;
    color: #8f8f8f;
    font-size: 14px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 33.3%;
    padding: 0 4px;
    display: grid;
}

.column img {
    vertical-align: middle;
    width: 100%;
    opacity: 1;
    cursor: pointer;
    transition: 0.3s linear;
}

.middle1 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 25%;
    left: 15%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: left;
  }

  .middle2 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 10%;
    left: 18%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: left;
  }

  .middle3 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 14%;
    left: 22%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: left;
  }

  .middle4 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 25%;
    left: 27%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: left;
  }

  .middle5 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 25%;
    left: 22%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: left;
  }

  .middle6 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 12%;
    left: 28%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: left;
  }

  .column img:hover {
    opacity: 0.3;  
  }
  
  .column1-image1:hover .middle1, .column1-image2:hover .middle2, .column2-image1:hover .middle3, .column2-image2:hover .middle4, .column3-image1:hover .middle5, .column3-image2:hover .middle6 {
    opacity: 1;
  } 

  div#overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 98%;
    margin-top: 8px;
    background: linear-gradient(to top left, rgba(255,255,255, 0.1) 0%, rgba(255,255,255, 0.15) 50%, white 50%);
  }  

  .text {
    color: black;
    font-size: 16px;
  }

.social{
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: #d5d5d5;
}

.social > a{
    color:#363636;
    text-decoration: none;
}

.social > a:hover {
  transform: translateY(-10px);
  color: #00BFFF;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: scale(1.5);
  text-shadow: 0 0 5px black
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}